@import"bourbon";
@import"neat";
@import"bootstrap";
$width: 300px;
$height: 300px;
div.main-box {
  // width: $width;
  // height: $height;
  margin-top: 100px;
  // width: $width;
  // height: $height;
  padding: 10px !important;
  width: 400px;
  height: 300px;
  background-color: lighten(#000, 98%);
}
.chart rect, circle {
  fill: #9acae6;
  z-index: 5;
}
.chart text {
  fill: lighten(#000, 50%);
  font: 10px sans-serif;
  text-anchor: end;
}
.chart line {
  stroke-width: 50;
}
.chart path {
  stroke: #9acae6;
  stroke-width: 3;
  fill: none;
}
.axis path {
  stroke: lighten(#000, 70%);
  stroke-width: 1;
  fill: none;
}
path.area {
  fill: lighten(#9acae6, 20%);
  stroke-width: 0;
}
.point-text {
  visibility: hidden;
  opacity: 0;
  @include transition(all .3s);
  cursor: pointer;
}
g.point-g:hover {
  .point-text {
    visibility: visible;
    opacity: 1;
  }
}

// .the-line{
//   @include animation(dash 3s forwards)
// }

// @include keyframes(dash){
//   to{
//     stroke-dashoffset:0;
//   }
// }
